<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

 <!-- Basic Page Needs -->
 <meta charset="utf-8">
 <title>Casa de Festas Point Chic</title>

 <meta name="description" content="">
 <meta name="author" content="">

 <!-- Mobile Specific Metas -->
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 <!-- Favicons -->
 <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->
 <link rel="shortcut icon" href="/images/logo.png">

 <!-- FONTS -->
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
 <link rel='stylesheet'
  href='https://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic' />
 <link rel='stylesheet'
  href='https://fonts.googleapis.com/css?family=Kaushan+Script:100,300,400,400italic,500,700,700italic' />

 <!-- CSS -->
 <link rel='stylesheet' href='/stylesheets/global.css'>
 <link rel='stylesheet' href='/stylesheets/structure.css'>
 <link rel='stylesheet' href='/stylesheets/weddingdresses.css'>
 <link rel='stylesheet' href='/stylesheets/custom.css'>

</head>

<body
 class="page-template-default page color-custom style-default button-default layout-full-width if-border-hide no-content-padding header-split minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-no-borders footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-ll be-reg-20975">
 <div id="Wrapper">
   <div id="Header_wrapper">
      <header id="Header">
         <div id="Top_bar">
            <div class="container">
               <div class="column one">
                  <div class="top_bar_left clearfix">
                     <div class="logo">
                        <a id="logo" href="/" title="BeWeddingDresses - BeTheme" data-height="102"
                           data-padding="30"><img class="logo-main scale-with-grid" src="/images/logo.png"
                              data-retina="/images/retina-weddingdresses2.png" data-height="102" /><img
                              class="logo-sticky scale-with-grid" src="/images/logo.png"
                              data-retina="/images/retina-weddingdresses2.png" data-height="102" /><img
                              class="logo-mobile scale-with-grid" src="/images/logo.png"
                              data-retina="/images/retina-weddingdresses2.png" data-height="102" /><img
                              class="logo-mobile-sticky scale-with-grid" src="/images/logo.png"
                              data-retina="/images/retina-weddingdresses2.png" data-height="102" /></a>
                     </div>
                     <div class="menu_wrapper">
                        <nav id="menu">
                           <ul id="menu-main-menu-left" class="menu menu-main menu_left">
                              <li class="current-menu-item">
                                 <a href="/"><span>Inicio</span></a>
                               </li>
                                 <li>
                                   <a href="salao"><span>O que fazemos</span></a>
                                 </li>
                               <li>
                                 <a href="salao"><span>O Salão</span></a>
                               </li>
                             </ul>
                             <ul id="menu-main-menu-right" class="menu menu-main menu_right">
                               <li>
                                 <a href="fotos"><span>Fotos</span></a>
                               </li>
                               <li>
                                 <a href="contato"><span>Contato</span></a>
                               </li>
                           </ul>
                        </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                     </div>
                     <div class="secondary_menu_wrapper">
                        <nav id="secondary-menu" class="menu-main-menu-right-container">
                           <ul id="menu-main-menu-right-1" class="secondary-menu">
                              <li class="">
                                 <a href="fotos">Fotos</a>
                              </li>
                              <li class="">
                                 <a href="contato">Contato</a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
   </div>
  <div id="Content">
   <div class="content_wrapper clearfix">
    <div class="sections_group">
     <div class="entry-content">
      <div class="section mcb-section"
       style="padding-top:110px; padding-bottom:70px; background-color:#edd9d5; background-image:url(/images/home_weddingdresses_bgsection3.png); background-repeat:no-repeat; background-position:center top;">
       <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one valign-top clearfix">
         <div class="mcb-wrap-inner">
          <div class="column mcb-column one column_column">
           <div class="column_attr clearfix">
            <h6>Galeria</h6>
            <h2>Festas de Aniversário</h2>
           </div>
          </div>
          <div class="column mcb-column one column_image_gallery">
           <div id='sc_gallery-1'
            class='gallery galleryid-17 gallery-columns-4 gallery-size-medium file isotope masonry'>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/ani2.jpg'><img src="/images/gallery/ani2.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon landscape'>
              <a href='/images/gallery/ani3.jpg'><img src="/images/gallery/ani3.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/ani4.jpg'><img src="/images/gallery/ani4.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon landscape'>
              <a href='/images/gallery/aniv5.jpg'><img src="/images/gallery/aniv5.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/aniv6.jpg'><img src="/images/gallery/aniv6.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/aniv7.jpg'><img src="/images/gallery/aniv7.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/aniv1.jpg'><img src="/images/gallery/aniv1.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon landscape'>
              <a href='/images/gallery/aniv8.jpg'><img src="/images/gallery/aniv8.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="section mcb-section" style="padding-top:110px; padding-bottom:70px; background-color:none">
       <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one valign-top clearfix">
         <div class="mcb-wrap-inner">
          <div class="column mcb-column one column_column">
           <div class="column_attr clearfix">
            <h2>Casamentos</h2>
           </div>
          </div>
          <div class="column mcb-column one column_image_gallery">

           <div id='sc_gallery-2'
            class='gallery galleryid-17 gallery-columns-4 gallery-size-medium file isotope masonry'>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/cas1.jpg'><img src="/images/gallery/cas1.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/cas2.jpg'><img src="/images/gallery/cas2.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/cas3.jpg'><img src="/images/gallery/cas3.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon landscape'>
              <a href='/images/gallery/cas4.jpg'><img src="/images/gallery/cas4.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/cas5.jpg'><img src="/images/gallery/cas5.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon landscape'>
              <a href='/images/gallery/cas6.jpg'><img src="/images/gallery/cas6.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon portrait'>
              <a href='/images/gallery/cas7.jpg'><img src="/images/gallery/cas7.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
            <dl class='gallery-item'>
             <dt class='gallery-icon landscape'>
              <a href='/images/gallery/cas8.jpg'><img src="/images/gallery/cas8.jpg"
                class="attachment-medium size-medium" /></a>
             </dt>
            </dl>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <footer id="Footer" class="clearfix">
   <div class="widgets_wrapper" style="padding:80px 0 65px;">
     <div class="container">
       <div class="column one">
         <aside class="widget_text widget widget_custom_html">
           <div class="textwidget custom-html-widget">
             <div style="text-align: center;">
               <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                 <div class="image_wrapper"><img class="scale-with-grid"
                     src="/images/logo.png" style="max-width: 150px;" />
                 </div>
               </div>
               <hr class="no_line" style="margin: 0 auto 40px;" />
               <p>
                 <i class="icon-location themecolor"></i><b>Rua Geni Saraiva, 315, tel. 3767-2782</b> Ponto chic,
                 Nova Iguaçu
               </p>  
               <hr class="no_line" style="margin: 0 auto 25px;" />
               <h6><a style="padding: 0 20px;" href="https://web.facebook.com/point.chic.5/" target="_blank">FACEBOOK</a><a
                   style="padding: 0 20px;"
                   href="https://www.instagram.com/pointchicfestas/" target="_blank">INSTAGRAM</a></h6>
             </div>
           </div>
         </aside>
       </div>
     </div>
   </div>
   <div class="footer_copy">
     <div class="container">
       <div class="column one">
         <div class="copyright">
           &copy; 2019 Salão de Festas Point Chic
         </div>
       </div>
     </div>
   </div>
 </footer>
 </div>
 <div id="Side_slide" class="right dark" data-width="250">
  <div class="close-wrapper">
   <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
  </div>
  <div class="extras">
   <div class="extras-wrapper"></div>
  </div>
  <div class="menu_wrapper"></div>
 </div>
 <div id="body_overlay"></div>


 <!-- JS -->
<script src="/javascripts/jquery-2.1.4.min.js"> </script>
<script src="/javascripts/mfn.menu.js"></script>
<script src="/javascripts/jquery.plugins.js"></script>
<script src="/javascripts/jquery.jplayer.min.js"></script>
<script src="/javascripts/animations/animations.js"></script>
<script src="/javascripts/translate3d.js"></script>
<script src="/javascripts/scripts.js"></script>

</body>

</html>